*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
/sdk
java_pid10600.hprof
java_pid97174.hprof
fastlane/README.md
fastlane/report.xml
.project
.settings
oneloginunidemo/unpackage/
oneloginunidemo/nativeplugins/oneloginuni/android/